body {
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif
}
h1 {
    text-align: left;
    color: gold;
}
h2, h3 {
    text-align: center;
    color: gold;
}
P {
    text-indent: .5cm;
    font-size: medium;
    color: lawngreen; 
}
table {
    width:80%;
    background-color: goldenrod;
    border-collapse: collapse;
}
table, th, td {
    border:1.5px solid black;
}
th {
    font-size: 20px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
td {
    font-size: 20px;
    height: 50px;
    text-align: left;
    vertical-align: bottom;
}