body {
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif
}
h1 {
    text-align: left;
    color: gold;
}
h2, h3 {
    text-align: center;
    color: gold;
}
P {
    text-indent: .5cm;
    font-size: medium;
    color: lawngreen; 
}